.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    padding: 20px;
}

.wrapper h1 {
    text-align: center;
    width: 100%;
}

h2 {
    -webkit-text-stroke: 2px rgb(48, 238, 0);
    filter: drop-shadow(0 0 0.25rem rgb(13, 255, 5));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    margin: 0;
}
.playercard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    width: 250px;
    height: 350px;
    border-radius: 15px;
    border: 2px solid gold;
    filter: drop-shadow(0 0 0.55rem rgb(209, 255, 5));
}