#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #1e1e1e;
  border-bottom: 2px solid rgba(255, 217, 0, 0.61);
  filter: drop-shadow(0 0 0.25rem gold);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 100px;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/*Index*/
.cardslist{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}
.cardslistTable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 50px;
}
table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.insertPanelcoin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 50px;
  background-color: #1e1e1e;
}
.section{
  background-color: #1e1e1e;
  padding: 50px;
  margin-top: 100vh;
}
.section2 {
  background-color: #3a3a3a;
  padding: 50px;
}
.arcaderoom{
  background-color: #1e1e1e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  border-radius: 15px;
  width: 900px;
  margin: auto;
}
.imagearcade {
  height: 300px;
}
.imgarcadegirl {
  object-fit: cover;
  border-radius: 15px;
  height: 300px;
  width: 400px;
  filter: drop-shadow(0 0 0.5em gold);
}
.arcadepresentation {
  display: flex;
  flex-direction: column;
  text-align: start;
  color: whitesmoke;
}

.pull{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}



/*Insert coins JSX*/

.panelcoins{
  margin-top: 0px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 200px;
  border-top: 2px solid rgba(255, 217, 0, 0.61);
  filter: drop-shadow(0 0 0.25rem gold);
  background-color: #1e1e1e;
  width: 100%;
  height: 130px;
}
